@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.link {
  text-decoration: none;
}
.item {
  display: flex;
  padding-bottom: var(--padding-after);
  gap: 1rem;

  &__image {
    max-width: 45%;
    border-radius: 0.25rem;
    background-color: $color-text-tertiary;
    object-fit: cover;
  }
  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

//Media Queries
//Tablet
@include tablet {
  .item {
    &__image {
      max-width: 20%;
    }
  }
}

//Desktop
@include desktop {
  .item {
    &__image {
      max-width: 45%;
    }
  }
}
