//Media Queries
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Typography
$primary-font: "Avenir Next LT Pro";

//Colors
$color-ui-primary: #323232;
$color-ui-secondary: #000000;

$color-ui-accent-primary: #0095ff;
$color-ui-accent-secondary: #0065ad;

$color-ui-tertiary: #fafafa;
$color-ui-primary-opaque: #32323280;
$color-ui-error: #d22d2d;

$color-text-primary: #ffffff;
$color-text-secondary: #afafaf;
$color-text-tertiary: #e1e1e1;

$color-divider: #e1e1e1;
