@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.comment {
  display: flex;
  &__avatar-img {
    padding: 0;
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center left;
    margin-right: 1rem;
    background-color: $color-text-tertiary;
  }
  &__entry {
    flex: 1;
  }
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__date {
    color: $color-text-secondary;
  }
  &__text {
    padding-top: var(--padding-after);
    display: block;
  }
  &__divider {
    border: 0.063rem solid $color-divider;
    margin: 1rem 0;
  }

  &__buttons {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    margin-left: auto;
    color: $color-text-primary;
    padding-top: var(--padding-after);
  }

  &__button {
    width: 9.375rem;
    height: 2.5rem;
    background-color: $color-ui-primary;
    color: $color-text-primary;
    border-radius: 0.25rem;
    border: none;
    &:hover {
      background-color: $color-ui-secondary;
    }
  }
  &__button-icon {
    filter: invert(100%);
  }

  &__like-counter {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    margin-left: 0.25rem;
  }

  &__divider {
    border-top: 0.063rem solid $color-divider;
    margin: var(--padding-after) 0;
  }
}

//Tablet
@include tablet {
  .comment {
    &__text {
      padding-top: var(--padding-half);
    }
    &__divider {
      margin: var(--padding-half) 0;
    }
  }
}
