@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.video-player {
  //   margin-bottom: var(--padding-before);
  background-color: $color-ui-secondary;
  display: flex;
  justify-content: center;
  //   border: 1px solid red;
}

.video {
  width: 100%;
  aspect-ratio: 16/9;
}

// Tablet
@include tablet {
  .video {
    max-height: 400px;
  }
}

// Desktop
@include desktop {
  .video {
    max-height: 500px;
  }
}
