@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

.content {
  display: flex;
  flex-direction: column;

  &__video {
    display: flex;
    flex-direction: column;
  }
}

@include desktop {
  .content {
    flex-direction: row;
    &__video {
      flex: 2;
    }
  }
}

// Desktop
@include desktop {
  .content {
    padding-left: 10%;
    padding-right: 10%;
  }
}
